---
apiVersion: v1
kind: Pod
metadata:
  name: etcd-server
  namespace: kube-system
spec:
  hostNetwork: true
  labels:
    k8s-app: etcd-server
  containers:
    - name: etcd
      image: "{{ etcd_image }}"
      command:
      - "/usr/local/bin/etcd"
      
      env:
      - name: ETCD_HOST_WHITELIST
        value: "localhost"

      - name: ETCD_NAME
        value: "{{ inventory_hostname_short }}"

      - name: ETCD_DATA_DIR
        value: /var/etcd

      - name: ETCD_INITIAL_ADVERTISE_PEER_URLS
        value: http://{{ ansible_default_ipv4.address }}:2380

      - name: ETCD_LISTEN_PEER_URLS
        value: http://{{ ansible_default_ipv4.address }}:2380

      - name: ETCD_LISTEN_CLIENT_URLS
        value: "http://{{ ansible_default_ipv4.address }}:2379,http://localhost:2379"

      - name: INITIAL_ADVERTISE_PEER_URLS
        value: "http://{{ ansible_default_ipv4.address }}:2380"

      - name: ETCD_INITIAL_CLUSTER_TOKEN
        value: "etcd-cluster"

      - name: ETCD_ADVERTISE_CLIENT_URLS
        value: "http://{{ ansible_default_ipv4.address }}:2379,http://localhost:2379"

      - name: ETCD_INITIAL_CLUSTER
        value: "{%- for host in groups[nodes_group] -%}
          {{ hostvars[host].inventory_hostname_short }}=http://{{ lookup('dig', host) }}:2380
          {%- if not loop.last -%},{%- endif -%}
          {% endfor %}"

      - name: ETCD_INITIAL_CLUSTER_STATE
        value: "{{ etcd_cluster_state }}"

      livenessProbe:
        httpGet:
          host: localhost
          port: 2379
          path: /health
          scheme: HTTP
        initialDelaySeconds: 10
        timeoutSeconds: 15
        failureThreshold: 3
        initialDelaySeconds: 10
        periodSeconds: 10
        successThreshold: 1

      volumeMounts:
      - name: certs
        mountPath: "/etc/pki/tls"
        readOnly: true

      - name: varetcd
        mountPath: "/var/etcd"
        readOnly: false

  volumes:
  - name: certs
    hostPath:
      path: "/etc/pki/tls"

  - name: varetcd
    hostPath:
      path: "/var/etcd"